01pre-processing

February 12, 2025

\[1\]: **import pandas as pd**

\[2\]: data=pd.read_csv("C:/Users/1210s/OneDrive/Desktop/aiml
labs/pre-processing/data.

<u>↪</u>csv")  
\[3\]: print (data)

<table style="width:100%;">
<colgroup>
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="2">0</th>
<th>name</th>
<th>height</th>
<th>weight</th>
<th>age</th>
<th><blockquote>
<p>gender</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>Liam</th>
<th>5.6</th>
<th>85.0</th>
<th>25.0</th>
<th><blockquote>
<p>Male</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>Noah</td>
<td>5.6</td>
<td>102.0</td>
<td>45.0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>2</td>
<td><blockquote>
<p>William</p>
</blockquote></td>
<td>6.1</td>
<td>94.0</td>
<td>65.0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>3</td>
<td>James</td>
<td>5.9</td>
<td>66.0</td>
<td>44.0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4</td>
<td>Oliver</td>
<td>6.5</td>
<td>98.0</td>
<td>25.0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>5</td>
<td>Benjamin</td>
<td>5.5</td>
<td>85.0</td>
<td>61.0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>6</td>
<td>Elijah</td>
<td>5.2</td>
<td>NaN</td>
<td>12.0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>7</td>
<td>Lucas</td>
<td>NaN</td>
<td>85.0</td>
<td>41.0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8</td>
<td>Mason</td>
<td>5.4</td>
<td>65.0</td>
<td>66.0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td>Amelia</td>
<td>5.1</td>
<td>66.0</td>
<td>24.0</td>
<td><blockquote>
<p>Female</p>
</blockquote></td>
</tr>
<tr class="even">
<td>10</td>
<td>Harper</td>
<td>4.9</td>
<td>55.0</td>
<td>32.0</td>
<td><blockquote>
<p>Female</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>11</td>
<td>Evelyn</td>
<td>5.1</td>
<td>64.0</td>
<td>37.0</td>
<td><blockquote>
<p>Female</p>
</blockquote></td>
</tr>
<tr class="even">
<td>12</td>
<td><blockquote>
<p>Abigail</p>
</blockquote></td>
<td>5.2</td>
<td>75.0</td>
<td>NaN</td>
<td><blockquote>
<p>Female</p>
</blockquote></td>
</tr>
</tbody>
</table>

\[4\]: X=data.iloc\[:,:-1\]

<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="5">[5]: print(X)<em>#name,height,weight,age are
features,and gender is target</em></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="2">name</td>
<td>height</td>
<td>weight</td>
<td><blockquote>
<p>age</p>
</blockquote></td>
</tr>
<tr class="even">
<td>0</td>
<td>Liam</td>
<td>5.6</td>
<td>85.0</td>
<td><blockquote>
<p>25.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>1</td>
<td>Noah</td>
<td>5.6</td>
<td>102.0</td>
<td><blockquote>
<p>45.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>2</td>
<td><blockquote>
<p>William</p>
</blockquote></td>
<td>6.1</td>
<td>94.0</td>
<td><blockquote>
<p>65.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>3</td>
<td>James</td>
<td>5.9</td>
<td>66.0</td>
<td><blockquote>
<p>44.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4</td>
<td>Oliver</td>
<td>6.5</td>
<td>98.0</td>
<td><blockquote>
<p>25.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>5</td>
<td>Benjamin</td>
<td>5.5</td>
<td>85.0</td>
<td><blockquote>
<p>61.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>6</td>
<td>Elijah</td>
<td>5.2</td>
<td>NaN</td>
<td><blockquote>
<p>12.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>7</td>
<td>Lucas</td>
<td>NaN</td>
<td>85.0</td>
<td><blockquote>
<p>41.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8</td>
<td>Mason</td>
<td>5.4</td>
<td>65.0</td>
<td><blockquote>
<p>66.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td>Amelia</td>
<td>5.1</td>
<td>66.0</td>
<td><blockquote>
<p>24.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>10</td>
<td>Harper</td>
<td>4.9</td>
<td>55.0</td>
<td><blockquote>
<p>32.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

1

<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
</colgroup>
<thead>
<tr class="header">
<th>11</th>
<th>Evelyn</th>
<th>5.1</th>
<th>64.0</th>
<th><blockquote>
<p>37.0</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>12</td>
<td><blockquote>
<p>Abigail</p>
</blockquote></td>
<td>5.2</td>
<td>75.0</td>
<td><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="2"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[6]: Y=data.iloc[:,4]<br />
print(Y)</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>0</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>1</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>2</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>3</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>4</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>5</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>6</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>7</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>8</td>
<td><blockquote>
<p>Male</p>
</blockquote></td>
</tr>
<tr class="even">
<td>9</td>
<td><blockquote>
<p>Female</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>10</td>
<td><blockquote>
<p>Female</p>
</blockquote></td>
</tr>
<tr class="even">
<td>11</td>
<td><blockquote>
<p>Female</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>12</td>
<td><blockquote>
<p>Female</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">Name: gender, dtype: object</td>
</tr>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[7]: <em>#Y=data.iloc[:5,:]</em><br />
<em>#print(Y)</em></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[8]: <strong>import numpy as np</strong><br />
<strong>from sklearn.impute import</strong> SimpleImputer</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>[9]: imp_mean=SimpleImputer(missing_values=np.nan,
strategy='mean')</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[10\]: print(X)

<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="2">0</th>
<th>name</th>
<th>height</th>
<th>weight</th>
<th><blockquote>
<p>age</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>Liam</th>
<th>5.6</th>
<th>85.0</th>
<th><blockquote>
<p>25.0</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>Noah</td>
<td>5.6</td>
<td>102.0</td>
<td><blockquote>
<p>45.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>2</td>
<td><blockquote>
<p>William</p>
</blockquote></td>
<td>6.1</td>
<td>94.0</td>
<td><blockquote>
<p>65.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>3</td>
<td>James</td>
<td>5.9</td>
<td>66.0</td>
<td><blockquote>
<p>44.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4</td>
<td>Oliver</td>
<td>6.5</td>
<td>98.0</td>
<td><blockquote>
<p>25.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>5</td>
<td>Benjamin</td>
<td>5.5</td>
<td>85.0</td>
<td><blockquote>
<p>61.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>6</td>
<td>Elijah</td>
<td>5.2</td>
<td>NaN</td>
<td><blockquote>
<p>12.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>7</td>
<td>Lucas</td>
<td>NaN</td>
<td>85.0</td>
<td><blockquote>
<p>41.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8</td>
<td>Mason</td>
<td>5.4</td>
<td>65.0</td>
<td><blockquote>
<p>66.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td>Amelia</td>
<td>5.1</td>
<td>66.0</td>
<td><blockquote>
<p>24.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>10</td>
<td>Harper</td>
<td>4.9</td>
<td>55.0</td>
<td><blockquote>
<p>32.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>11</td>
<td>Evelyn</td>
<td>5.1</td>
<td>64.0</td>
<td><blockquote>
<p>37.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>12</td>
<td><blockquote>
<p>Abigail</p>
</blockquote></td>
<td>5.2</td>
<td>75.0</td>
<td><blockquote>
<p>NaN</p>
</blockquote></td>
</tr>
</tbody>
</table>

\[11\]: imp_mean.fit(X.iloc\[:,1:4\])

2

\[11\]: SimpleImputer()

| \[12\]: X.iloc\[:,1:4\]=imp_mean.transform(X.iloc\[:,1:4\]) |
|-------------------------------------------------------------|

\[13\]: print(X)

<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="2">0</th>
<th>name</th>
<th>height</th>
<th>weight</th>
<th><blockquote>
<p>age</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>Liam</th>
<th>5.600000</th>
<th><blockquote>
<p>85.000000</p>
</blockquote></th>
<th><blockquote>
<p>25.00</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>Noah</td>
<td>5.600000</td>
<td>102.000000</td>
<td><blockquote>
<p>45.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>2</td>
<td><blockquote>
<p>William</p>
</blockquote></td>
<td>6.100000</td>
<td><blockquote>
<p>94.000000</p>
</blockquote></td>
<td><blockquote>
<p>65.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>3</td>
<td>James</td>
<td>5.900000</td>
<td><blockquote>
<p>66.000000</p>
</blockquote></td>
<td><blockquote>
<p>44.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4</td>
<td>Oliver</td>
<td>6.500000</td>
<td><blockquote>
<p>98.000000</p>
</blockquote></td>
<td><blockquote>
<p>25.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>5</td>
<td>Benjamin</td>
<td>5.500000</td>
<td><blockquote>
<p>85.000000</p>
</blockquote></td>
<td><blockquote>
<p>61.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>6</td>
<td>Elijah</td>
<td>5.200000</td>
<td><blockquote>
<p>78.333333</p>
</blockquote></td>
<td><blockquote>
<p>12.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>7</td>
<td>Lucas</td>
<td>5.508333</td>
<td><blockquote>
<p>85.000000</p>
</blockquote></td>
<td><blockquote>
<p>41.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8</td>
<td>Mason</td>
<td>5.400000</td>
<td><blockquote>
<p>65.000000</p>
</blockquote></td>
<td><blockquote>
<p>66.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td>Amelia</td>
<td>5.100000</td>
<td><blockquote>
<p>66.000000</p>
</blockquote></td>
<td><blockquote>
<p>24.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>10</td>
<td>Harper</td>
<td>4.900000</td>
<td><blockquote>
<p>55.000000</p>
</blockquote></td>
<td><blockquote>
<p>32.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>11</td>
<td>Evelyn</td>
<td>5.100000</td>
<td><blockquote>
<p>64.000000</p>
</blockquote></td>
<td><blockquote>
<p>37.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>12</td>
<td><blockquote>
<p>Abigail</p>
</blockquote></td>
<td>5.200000</td>
<td><blockquote>
<p>75.000000</p>
</blockquote></td>
<td><blockquote>
<p>39.75</p>
</blockquote></td>
</tr>
</tbody>
</table>

| \[14\]: imp_median=SimpleImputer(missing_values=np.nan, strategy='median') |
|------------------------------------------------------------------------|

\[15\]: imp_median.fit(X.iloc\[:,1:4\])

\[15\]: SimpleImputer(strategy='median')

| \[16\]: X.iloc\[:,1:4\]=imp_median.transform(X.iloc\[:,1:4\]) |
|---------------------------------------------------------------|

\[17\]: print(X)

<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="2">0</th>
<th>name</th>
<th>height</th>
<th>weight</th>
<th><blockquote>
<p>age</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>Liam</th>
<th>5.600000</th>
<th><blockquote>
<p>85.000000</p>
</blockquote></th>
<th><blockquote>
<p>25.00</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>Noah</td>
<td>5.600000</td>
<td>102.000000</td>
<td><blockquote>
<p>45.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>2</td>
<td><blockquote>
<p>William</p>
</blockquote></td>
<td>6.100000</td>
<td><blockquote>
<p>94.000000</p>
</blockquote></td>
<td><blockquote>
<p>65.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>3</td>
<td>James</td>
<td>5.900000</td>
<td><blockquote>
<p>66.000000</p>
</blockquote></td>
<td><blockquote>
<p>44.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4</td>
<td>Oliver</td>
<td>6.500000</td>
<td><blockquote>
<p>98.000000</p>
</blockquote></td>
<td><blockquote>
<p>25.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>5</td>
<td>Benjamin</td>
<td>5.500000</td>
<td><blockquote>
<p>85.000000</p>
</blockquote></td>
<td><blockquote>
<p>61.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>6</td>
<td>Elijah</td>
<td>5.200000</td>
<td><blockquote>
<p>78.333333</p>
</blockquote></td>
<td><blockquote>
<p>12.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>7</td>
<td>Lucas</td>
<td>5.508333</td>
<td><blockquote>
<p>85.000000</p>
</blockquote></td>
<td><blockquote>
<p>41.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8</td>
<td>Mason</td>
<td>5.400000</td>
<td><blockquote>
<p>65.000000</p>
</blockquote></td>
<td><blockquote>
<p>66.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td>Amelia</td>
<td>5.100000</td>
<td><blockquote>
<p>66.000000</p>
</blockquote></td>
<td><blockquote>
<p>24.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>10</td>
<td>Harper</td>
<td>4.900000</td>
<td><blockquote>
<p>55.000000</p>
</blockquote></td>
<td><blockquote>
<p>32.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>11</td>
<td>Evelyn</td>
<td>5.100000</td>
<td><blockquote>
<p>64.000000</p>
</blockquote></td>
<td><blockquote>
<p>37.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>12</td>
<td><blockquote>
<p>Abigail</p>
</blockquote></td>
<td>5.200000</td>
<td><blockquote>
<p>75.000000</p>
</blockquote></td>
<td><blockquote>
<p>39.75</p>
</blockquote></td>
</tr>
</tbody>
</table>

\[18\]: print(X)

3

<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="2">0</th>
<th>name</th>
<th>height</th>
<th>weight</th>
<th><blockquote>
<p>age</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>Liam</th>
<th>5.600000</th>
<th><blockquote>
<p>85.000000</p>
</blockquote></th>
<th><blockquote>
<p>25.00</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>Noah</td>
<td>5.600000</td>
<td>102.000000</td>
<td><blockquote>
<p>45.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>2</td>
<td><blockquote>
<p>William</p>
</blockquote></td>
<td>6.100000</td>
<td><blockquote>
<p>94.000000</p>
</blockquote></td>
<td><blockquote>
<p>65.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>3</td>
<td>James</td>
<td>5.900000</td>
<td><blockquote>
<p>66.000000</p>
</blockquote></td>
<td><blockquote>
<p>44.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4</td>
<td>Oliver</td>
<td>6.500000</td>
<td><blockquote>
<p>98.000000</p>
</blockquote></td>
<td><blockquote>
<p>25.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>5</td>
<td>Benjamin</td>
<td>5.500000</td>
<td><blockquote>
<p>85.000000</p>
</blockquote></td>
<td><blockquote>
<p>61.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>6</td>
<td>Elijah</td>
<td>5.200000</td>
<td><blockquote>
<p>78.333333</p>
</blockquote></td>
<td><blockquote>
<p>12.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>7</td>
<td>Lucas</td>
<td>5.508333</td>
<td><blockquote>
<p>85.000000</p>
</blockquote></td>
<td><blockquote>
<p>41.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8</td>
<td>Mason</td>
<td>5.400000</td>
<td><blockquote>
<p>65.000000</p>
</blockquote></td>
<td><blockquote>
<p>66.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td>Amelia</td>
<td>5.100000</td>
<td><blockquote>
<p>66.000000</p>
</blockquote></td>
<td><blockquote>
<p>24.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>10</td>
<td>Harper</td>
<td>4.900000</td>
<td><blockquote>
<p>55.000000</p>
</blockquote></td>
<td><blockquote>
<p>32.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>11</td>
<td>Evelyn</td>
<td>5.100000</td>
<td><blockquote>
<p>64.000000</p>
</blockquote></td>
<td><blockquote>
<p>37.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>12</td>
<td><blockquote>
<p>Abigail</p>
</blockquote></td>
<td>5.200000</td>
<td><blockquote>
<p>75.000000</p>
</blockquote></td>
<td><blockquote>
<p>39.75</p>
</blockquote></td>
</tr>
</tbody>
</table>

\[19\]: X= X.iloc\[:,1:\]

\[20\]: print (X)

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="2">0</th>
<th>height</th>
<th>weight</th>
<th><blockquote>
<p>age</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>5.600000</th>
<th><blockquote>
<p>85.000000</p>
</blockquote></th>
<th><blockquote>
<p>25.00</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>5.600000</td>
<td>102.000000</td>
<td><blockquote>
<p>45.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>2</td>
<td>6.100000</td>
<td><blockquote>
<p>94.000000</p>
</blockquote></td>
<td><blockquote>
<p>65.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>3</td>
<td>5.900000</td>
<td><blockquote>
<p>66.000000</p>
</blockquote></td>
<td><blockquote>
<p>44.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4</td>
<td>6.500000</td>
<td><blockquote>
<p>98.000000</p>
</blockquote></td>
<td><blockquote>
<p>25.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>5</td>
<td>5.500000</td>
<td><blockquote>
<p>85.000000</p>
</blockquote></td>
<td><blockquote>
<p>61.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>6</td>
<td>5.200000</td>
<td><blockquote>
<p>78.333333</p>
</blockquote></td>
<td><blockquote>
<p>12.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>7</td>
<td>5.508333</td>
<td><blockquote>
<p>85.000000</p>
</blockquote></td>
<td><blockquote>
<p>41.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8</td>
<td>5.400000</td>
<td><blockquote>
<p>65.000000</p>
</blockquote></td>
<td><blockquote>
<p>66.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td>5.100000</td>
<td><blockquote>
<p>66.000000</p>
</blockquote></td>
<td><blockquote>
<p>24.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>10</td>
<td>4.900000</td>
<td><blockquote>
<p>55.000000</p>
</blockquote></td>
<td><blockquote>
<p>32.00</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>11</td>
<td>5.100000</td>
<td><blockquote>
<p>64.000000</p>
</blockquote></td>
<td><blockquote>
<p>37.00</p>
</blockquote></td>
</tr>
<tr class="even">
<td>12</td>
<td>5.200000</td>
<td><blockquote>
<p>75.000000</p>
</blockquote></td>
<td><blockquote>
<p>39.75</p>
</blockquote></td>
</tr>
</tbody>
</table>

\[21\]: print(Y)

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th>0<br />
1<br />
2<br />
3<br />
4<br />
5<br />
6<br />
7<br />
8<br />
9<br />
10 11</th>
<th><blockquote>
<p>Male<br />
Male<br />
Male<br />
Male<br />
Male<br />
Male<br />
Male<br />
Male<br />
Male<br />
Female<br />
Female<br />
Female</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

4

> 12 Female  
> Name: gender, dtype: object

\[22\]: *#label encoding*

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[23]: <strong>from sklearn import</strong> preprocessing<br />
le=preprocessing.LabelEncoder()</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[24\]: le.fit(Y)

\[24\]: LabelEncoder()

\[25\]:Y=le.transform(Y)

\[26\]: print(Y)

> \[1 1 1 1 1 1 1 1 1 0 0 0 0\]

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><p>[27]: <strong>import numpy as np</strong></p>
<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>from sklearn.model_selection import</strong>
train_test_split</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="4">[28]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.↪20,random_state=42)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="2">[29]:print(X_te height</td>
<td>st)<br />
weight</td>
<td><blockquote>
<p>age</p>
</blockquote></td>
</tr>
<tr class="even">
<td>11</td>
<td>5.1</td>
<td>64.0</td>
<td><blockquote>
<p>37.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td>5.1</td>
<td>66.0</td>
<td><blockquote>
<p>24.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>0</td>
<td>5.6</td>
<td>85.0</td>
<td><blockquote>
<p>25.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

\[30\]: print(Y_test)

> \[0 0 1\]

\[31\]: **from sklearn.model_selection import** KFold

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[63]: kf=KFold(n_splits=3)<br />
kf.get_n_splits(X)</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[63\]: 3

\[65\]: print(kf)

> KFold(n_splits=3, random_state=None, shuffle=False)

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[67]: <strong>for</strong> i,(train_index,test_index)
<strong>in</strong> enumerate(kf.split(X)):
print(f"Fold<strong>{</strong>i<strong>}</strong>:")</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

5

<table style="width:100%;">
<colgroup>
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="6"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>print(f" Train:
index=<strong>{</strong>train_index<strong>}</strong>")<br />
print(f" Test:
index=<strong>{</strong>test_index<strong>}</strong>")</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="6">Fold0:</td>
</tr>
<tr class="even">
<td>Train: index=[ 5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td colspan="2"><blockquote>
<p>9 10 11 12]</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="6">Test: index=[0 1 2 3 4]<br />
Fold1:</td>
</tr>
<tr class="even">
<td>Train: index=[ 0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td><blockquote>
<p>9 10 11 12]</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="6">Test: index=[5 6 7 8]<br />
Fold2:<br />
Train: index=[0 1 2 3 4 5 6 7 8]<br />
Test: index=[ 9 10 11 12]</td>
</tr>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>[69]: <em>#ANOTHER METHOD WHEN USING CROSS-VALIDATION SCORE</em></p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>[71]: <strong>from sklearn.model_selection import</strong>
cross_val_score</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>[75]: <strong>from sklearn.linear_model import</strong>
LogisticRegression</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 33%" />
<col style="width: 33%" />
<col style="width: 33%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="3"><blockquote>
<p>[81]: score_lr=
cross_val_score(LogisticRegression(solver='liblinear',<br />
multi_class='ovr'),X,Y,cv=3) print(score_lr)<br />
print("Avg :",np.average(score_lr))</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>[0.6</td>
<td>0.5</td>
<td><blockquote>
<p>0.75]</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="3"><blockquote>
<p>Avg : 0.6166666666666667</p>
</blockquote></td>
</tr>
</tbody>
</table>

> C:\Users\1210s\anaconda3\Lib\site-  
> packages\sklearn\linear_model\\\_logistic.py:1256: FutureWarning:
> 'multi_class' was deprecated in version 1.5 and will be removed in
> 1.7. Use  
> OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its
> default value to avoid this warning.
>
> warnings.warn(  
> C:\Users\1210s\anaconda3\Lib\site-  
> packages\sklearn\linear_model\\\_logistic.py:1256: FutureWarning:
> 'multi_class' was deprecated in version 1.5 and will be removed in
> 1.7. Use  
> OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its
> default value to avoid this warning.
>
> warnings.warn(  
> C:\Users\1210s\anaconda3\Lib\site-  
> packages\sklearn\linear_model\\\_logistic.py:1256: FutureWarning:
> 'multi_class' was deprecated in version 1.5 and will be removed in
> 1.7. Use  
> OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its
> default value to avoid this warning.
>
> warnings.warn(

\[107\]: *#from sklearn import preprocessing*

6

> \[85\]: *#sc= preprocessing.StandardScaler()*  
> \[87\]:*#sc.fit(X_train)*  
> \[87\]: StandardScaler()  
> \[89\]: *#X_train= sc.transform(X_train)*  
> \[91\]:*#print (X_train)*

<table>
<colgroup>
<col style="width: 33%" />
<col style="width: 33%" />
<col style="width: 33%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="2">[[-0.40287484 -1.05144574</th>
<th><blockquote>
<p>1.37929674]</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>[-0.18008691</td>
<td>0.32000522</td>
<td><blockquote>
<p>1.07846866]</p>
</blockquote></td>
</tr>
<tr class="even">
<td>[ 1.15664068</td>
<td>0.93715816</td>
<td><blockquote>
<p>1.31913112]</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>[ 0.04270102</td>
<td>1.48573854</td>
<td><blockquote>
<p>0.11581881]</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="3"><blockquote>
<p>[-0.84845071 -0.36572026 -0.20005067]</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>[ 2.04779241</td>
<td colspan="2"><blockquote>
<p>1.21144835 -1.0874935 ]</p>
</blockquote></td>
</tr>
<tr class="even">
<td>[-0.16152125</td>
<td colspan="2"><blockquote>
<p>0.32000522 -0.12484365]</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="3"><blockquote>
<p>[-1.51681451 -1.73717122 -0.66633419]</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2">[ 0.71106482 -0.98287319</td>
<td><blockquote>
<p>0.05565319]</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2">[-0.84845071 -0.1371451</td>
<td><blockquote>
<p>-1.86964651]]</p>
</blockquote></td>
</tr>
</tbody>
</table>

> \[97\]: *#X_test= sc.transform(X_test)*  
> \[99\]: *#print(X_test)*

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="2">[[-1.07123864 -1.12001829 -0.36550612]<br />
[-1.07123864 -0.98287319 -1.14765912]</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>[ 0.04270102</td>
<td><blockquote>
<p>0.32000522 -1.0874935 ]]</p>
</blockquote></td>
</tr>
</tbody>
</table>

\[105\]: **from sklearn.preprocessing import** MinMaxScaler \[109\]: sc=
preprocessing.MinMaxScaler()  
\[111\]: sc.fit(X_train)  
\[111\]: MinMaxScaler()  
\[113\]: X_train= sc.transform(X_train)  
\[115\]: print (X_train)

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th>[[0.3125</th>
<th colspan="2"><blockquote>
<p>0.21276596 1.</p>
</blockquote></th>
<th><blockquote>
<p>]</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><blockquote>
<p>[0.375</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>0.63829787 0.90740741]</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>[0.75</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>0.82978723 0.98148148]</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>[0.4375</p>
</blockquote></td>
<td>1.</td>
<td colspan="2"><blockquote>
<p>0.61111111]</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>[0.1875</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>0.42553191 0.51388889]</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>[1.</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>0.91489362 0.24074074]</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="4"><blockquote>
<p>[0.38020833 0.63829787 0.53703704]</p>
</blockquote></td>
</tr>
</tbody>
</table>

7

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="3"><p>[0.</p>
<blockquote>
<p>[0.625<br />
[0.1875</p>
</blockquote></th>
<th><blockquote>
<p>0.</p>
</blockquote></th>
<th colspan="2"><blockquote>
<p>0.37037037]</p>
</blockquote></th>
</tr>
<tr class="odd">
<th colspan="3"><blockquote>
<p>0.23404255 0.59259259]</p>
</blockquote></th>
</tr>
<tr class="header">
<th><blockquote>
<p>0.4964539</p>
</blockquote></th>
<th><blockquote>
<p>0.</p>
</blockquote></th>
<th><blockquote>
<p>]]</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[119\]: X_test= sc.transform(X_test)

\[121\]: print(X_test)

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th>[[0.125<br />
[0.125<br />
[0.4375</th>
<th><blockquote>
<p>0.19148936 0.46296296]<br />
0.23404255 0.22222222]<br />
0.63829787 0.24074074]]</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

8